create database qlpb;
use qlpb;
create table PHONGBAN
(
	MAPHG varchar(4) not null,
	TENPHG nvarchar(100) not null,
	TRPHG varchar(8),
	NGNC datetime,
	constraint U_PHONGBAN unique (TENPHG),
	constraint PK_PHONGBAN primary key (MAPHG)
)

create table NHANVIEN
(
	MANV varchar(8) not null,
	HONV nvarchar(50) not null,
	TENLOT nvarchar(50),
	TENNV nvarchar(50) not null,
	NGSINH datetime,
	PHAI nvarchar(5),
	DCHI nvarchar(100),
	MA_NQL varchar(8),
	PHONG varchar(4) not null,
	MLUONG real,
	constraint PK_NHANVIEN primary key (MANV)
)

alter table PHONGBAN add
constraint FK_PHONGBAN_NHANVIEN foreign key (TRPHG) references NHANVIEN(MANV)

alter table NHANVIEN add
constraint FK_NHANVIEN_PHONGBAN foreign key (PHONG) references PHONGBAN(MAPHG),
constraint FK_NHANVIEN_NHANVIEN foreign key (MA_NQL) references NHANVIEN(MANV)

create table DEAN
(
	MADA varchar(6) not null,
	TENDA nvarchar(50) not null,
	DDIEM_DA nvarchar(100),
	PHONG varchar(4) not null,
	NGBD_DK datetime,
	NGKT_DK datetime,
	constraint U_DEAN unique (TENDA),
	constraint PK_DEAN primary key (MADA),
	constraint FK_DEAN_PHONGBAN foreign key (PHONG) references PHONGBAN(MAPHG),
	constraint CHK_DEAN_NGBD_NGKT check (NGBD_DK <= NGKT_DK)
)

create table PHANCONG
(
	MANV varchar(8) not null,
	MADA varchar(6) not null,
	THOIGIAN real,
	constraint PK_PHANCONG primary key (MANV,MADA),
	constraint FK_PHANCONG_NHANVIEN foreign key (MANV) references NHANVIEN(MANV),
	constraint FK_PHANCONG_DEAN foreign key (MADA) references DEAN(MADA),
	constraint CHK_PHANCONG_THOIGIAN check (THOIGIAN>=0 and THOIGIAN<=40)
)

create table DIADIEM_PHG
(
	MAPHG varchar(4) not null,
	DIADIEM nvarchar(30),
	constraint PK_DIADIEM_PHG primary key (MAPHG,DIADIEM),
	constraint FK_DIADIEM_PHG_PHONGBAN foreign key (MAPHG) references PHONGBAN(MAPHG)
)

create table THANNHAN
(
	MANV varchar(8) not null,
	MATN varchar(6) not null,
	TENTN nvarchar(50) not null,
	PHAI nvarchar(5),
	NGSINH datetime,
	QUANHE nvarchar(30),
	constraint PK_THANNHAN primary key (MANV, MATN),
	constraint FK_THANNHAN_NHANVIEN foreign key (MANV) references NHANVIEN(MANV)
)

insert into PHONGBAN(MAPHG,TENPHG)
values('QL','Quan ly')
insert into PHONGBAN(MAPHG,TENPHG)
values('DH','Dieu hanh')
insert into PHONGBAN(MAPHG,TENPHG)
values('NC','Nghien cuu')

insert into NHANVIEN(MANV,HONV,TENLOT,TENNV,NGSINH,PHAI,DCHI,MA_NQL,PHONG,MLUONG)
values('NV001','Vuong','Ngoc','Quyen','1957-10-22','Nu','450 Trung Vuong, Ha Noi',NULL,'QL',3000000)
insert into NHANVIEN(MANV,HONV,TENLOT,TENNV,NGSINH,PHAI,DCHI,MA_NQL,PHONG,MLUONG)
values('NV002','Nguyen','Thanh','Tung','1955-01-09','Nam','731 Tran Hung Dao, Q1, TP HCM','NV001','NC',2500000)
insert into NHANVIEN(MANV,HONV,TENLOT,TENNV,NGSINH,PHAI,DCHI,MA_NQL,PHONG,MLUONG)
values('NV003','Le','Thi','Nhan','1960-12-18','Nu','291 Ho Van Hue, QPN, TP HCM','NV001','DH',2500000)

insert into DIADIEM_PHG(MAPHG,DIADIEM)
values('NC','Ha Noi')
insert into DIADIEM_PHG(MAPHG,DIADIEM)
values('NC','TP HCM')
insert into DIADIEM_PHG(MAPHG,DIADIEM)
values('QL','TP HCM')

insert into DEAN(MADA,TENDA,DDIEM_DA,PHONG,NGBD_DK,NGKT_DK)
values('TH001','Tin hoc hoa 1','Ha Noi','NC','2003-02-01','2004-02-01')
insert into DEAN(MADA,TENDA,DDIEM_DA,PHONG,NGBD_DK,NGKT_DK)
values('TH002','Tin hoc hoa 2','TP HCM','NC','2003-06-04','2004-02-01')
insert into DEAN(MADA,TENDA,DDIEM_DA,PHONG,NGBD_DK,NGKT_DK)
values('DT001','Dao tao 1','Nha Trang','DH','2002-02-01','2006-02-01')

insert into PHANCONG(MANV,MADA,THOIGIAN)
values('NV001','TH001',30)
insert into PHANCONG(MANV,MADA,THOIGIAN)
values('NV001','TH002',12.5)
insert into PHANCONG(MANV,MADA,THOIGIAN)
values('NV002','TH001',10)


insert into THANNHAN(MANV,MATN,TENTN,PHAI,NGSINH,QUANHE)
values('NV003','1','Tran Minh Tien','Nam','1990-12-11','Con')
insert into THANNHAN(MANV,MATN,TENTN,PHAI,NGSINH,QUANHE)
values('NV003','2','Tran Ngoc Linh','Nu','1993-03-10','Con')
insert into THANNHAN(MANV,MATN,TENTN,PHAI,NGSINH,QUANHE)
values('NV003','3','Tran Minh Long','Nam','1957-10-10','Vo chong')

/*
1. Thêm và bảng phân công dữ liệu sau
('NV008','DT002',12.5)
2. Thêm bảng thân nhân dòng dữ liệu sau
('NV005','2','Nguyen Manh Tam','Nam','2003-01-13','Con')
3. Cho biết thông tin các nhân viên có lương trên 250.000
4. Cho biết mã nhân viên, mã đề án có thời gian là cao nhất
5. Tính tổng thời gian phân công của từng nhân viên
6. Cho biết mã phòng ban, tên phòng ban, số lượng nhân viên. Chỉ liệt kê phòng có nhiều hơn 3 nhân viên.
7. Cho biết phòng ban cùng địa điểm với phòng có mã phòng là 'NC'
8. Cho biết thông tin về thân nhân của NV005
9. Cho biết thông tin của nhân viên cùng phòng với nhân viên NV003
10. Cho biết thông tin đề án do phòng 'Dieu hanh' quản lý

/*